<div class="container">
    <h2>Observables in angular</h2>
    <div class="data-list" *ngFor="let x of data" >
        {{x}}
    </div>

    <button (click)="getAsyncData()" >Get Data</button>
</div>


<!-- for practicing subjects -->

<div style="margin-top: 100px;" >
    <h2 style="text-align: center; margin: 20px;">Subjects</h2>
    <app-new-task></app-new-task>
    <app-show-task></app-show-task>
</div>

<!-- For behavioralSubjects -->

<div style="margin-top: 100px;" >
    <h2 style="text-align: center; margin: 20px;">behavioralSubjects</h2>
    <app-subject></app-subject>
</div>