<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<main class="main d-flex flex-column w-100">
  <div class="w-100 d-flex justify-content-end py-3 px-2 align-items-center nav_container1">
    <div class="links1">
      <a class="nav_link1" routerLink="" fragment="section1" >Seciton1</a>
      <a class="nav_link1" routerLink="" fragment="section2" >Seciton2</a>
      <a class="nav_link1" routerLink=""fragment="section3" >Seciton3</a>
      <a class="nav_link1" routerLink="login" >Login</a>
      <a class="nav_link1" routerLink="/login" [queryParams]="{logout:true}" >Logout</a>
    </div>
   </div>
 <div class="w-100 d-flex justify-content-between align-items-center nav_container">
  <div class="nav_link logo">
    <a routerLink="">Logo</a>
  </div>
  <div class="links">
    <a class="nav_link" routerLink="" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}" >Home</a>
    <a class="nav_link" routerLink="second" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}" >Second</a>
    <a class="nav_link" routerLink="products" [routerLinkActive]="'active'"  >Products</a>
    <a class="nav_link" routerLink="obs" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}" >Observable</a>
    <a class="nav_link" routerLink="obs/unsubscribe" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}" >Unsubscribe</a>
    <a class="nav_link" routerLink="/contact" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}" (click)="$event.preventDefault(); goToContact()" >Contact</a>
  </div>
 </div>
 <div class="mt-5">
   <router-outlet></router-outlet>
   <div class="overlay" *ngIf="showLoader">
    <div class="loader"></div>
   </div>
 </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


